<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bento.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BentoDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7216B7061AA64C7C0006FFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90BED06D1A5BCC04003DC872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90BED0861A5BCC04003DC872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC90965A1B0E70FA00E592CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9096691B0E710500E592CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9096781B0E833200E592CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
